*{ /*  step 1:   to create default*/
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
body{
    background-color:beige;
    display:grid;
    grid-template-columns: 30% 70%;
    margin:20px;
    border:2px solid black;
    padding:20px;

}
.aside{
    background-color: teal;
    text-align: center;
}
address{
    line-height:1;

}




div img{
    width:170px;
    height:170px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    padding:5px;
}
.contact-details{
    text-align: left;
    padding:0px 0px 0px 20px;
    font-size:.75rem;
    line-height:3;
    
}
.profession{
    margin-top:10px;
   
}
.skills{
    margin-top:20px;
    padding :5px;
   
}.contact-details>p::before{
    
}
#java,#html,#css{
    width:60%;
}
#js,#react{
    width:30%;
}
#angular,#njs,#git,#plc{
    width:25%;
}
#skills{
    padding:30px;
    line-height: 2;
    color:white;
    text-align:left;
}
hr{
    width:80%;
    text-align: center;
    margin-left: 30px;
}
.progress-bar{
    background-color:white;
    border-radius: 15%;
    height:8px;
    border-radius:15px;

}

/* css for main*/
.main{ background-color:white;
    padding:40px 100px 20px 100px;
}
.About-Me p{
    text-align: justify;
    font-size:.9 rem;
    line-height: 1.8;
}
.table{
    width:100%;
    text-align: center;
    border:2px solid black;
   
   
    
}
td,th{
    padding:10px;
    text-align: left;
    border: 1px solid black;
   
}
#projects #m-skill{
    
    line-height: 2;
}
h3{
    text-decoration: underline;
}
.hobbies p{
    line-height:1.6;
   

}#m-skill,#projects{
   
    line-height: 2;
}



@media screen and (max-width:700px) {
    body {
      
      grid-template-columns: 100%;
    }
    .t-responsive{
        overflow-x: scroll;
    }
   
  } 
  @media screen and (max-width:1100px) {
    
    .t-responsive{
        overflow-x: scroll;
    }
   
  } 

    



    